@import './bootstrap/colors';

#root{
    height: 100vh;
    background-color: $light;
    padding-top: 1rem;
}

.card {
    button {
        display: none;
    }
}

.card:hover {
    outline: 0;
    box-shadow: 0 0 0 0.25rem $primary-shadow !important;

    button {
        display: flex;
    }
}

a {
    color: black !important;
}

a:hover {
    color: $primary;
}

.icon-card-selected {
    box-shadow: 0 0 0 0.25rem $primary-shadow;
}

// Hover

.hover-primary{
    &:hover{
        box-shadow: 0 0 0 0.25rem $primary-shadow !important;
    }
}

.hover-bg-primary{
    &:hover{
        background-color: $primary;
        color: white;
    }
}