.card {
    button {
        display: none;
    }
}

.card:hover{
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    button{
        display: flex;
    }
}

a{
    color: black !important;
}
a:hover{
    color: blue;
}