@import './bootstrap/colors';

body,
#root{
    height: 100vh;
    background-color: #f8f8f8;
}

.card {
    button {
        display: none;
    }
}

.card:hover {
    outline: 0;
    box-shadow: 0 0 0 0.25rem $primary-shadow !important;

    button {
        display: flex;
    }
}

a {
    color: black !important;
}

a:hover {
    color: $primary;
}

.icon-card-selected {
    box-shadow: 0 0 0 0.25rem $primary-shadow;
}

// Grid

.grid-col-2 {
    grid-template-columns: 50% 50%;
}

.grid-col-3 {
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.grid-col-4 {
    grid-template-columns: 25% 25% 25% 25%;
}