body, html {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: #353a42;
    color: white;
}

#root {
    height:100vh;
    width:100%;
    overflow-y: hidden;
}

.view{
    margin-top:70px;
}


footer {
    text-align: center;
    position: fixed;
    width:100%;
    bottom: 0;
    color:white;
}

button {
    border: none;
    background: #333;
    padding: 10px 15px;
}

button:hover{
    box-shadow: 0 0 3pt 2pt grey;
}

input{
    color:black;
}

.backdrop{
    background: black;
    opacity: 50%;
    position:absolute;
    left: 0;
    top:0;
    width:100vw;
    height:100vh;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(87, 87, 87);
  }
  
  .dropdown-content {
    display: none;
    position: fixed;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: rgb(87, 87, 87);;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }