body, html {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: #353a42;
    color: white;
}

#root {
    height:100vh;
    width:100%;
    overflow-y: hidden;
}

.view{
    margin-top:70px;
}


footer {
    text-align: center;
    position: fixed;
    width:100%;
    bottom: 0;
    color:white;
}

.nav-container{
    display: flex;
    flex-direction:row;
}

.nav-login {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .25rem;
    background: #333;
    padding: .5rem;
    margin: .5rem;
    margin-left: auto;
}

button {
    border: none;
    background: #333;
    padding: .5rem;
}

button:hover{
    box-shadow: 0 0 3pt 2pt grey;
}

input{
    color:black;
}

.backdrop{
    background: black;
    opacity: 50%;
    position:absolute;
    left: 0;
    top:0;
    width:100vw;
    height:100vh;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
